header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ececec;
  display: flex;
}
address {
  margin-top: 20px;
  font-style: normal;
}
.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link--current {
  color: var(--accent-text-color);
}
.menu__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}
.menu__link:hover,
.menu__link:focus {
  color: var(--accent-text-color);
}
.container__header {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }
}

.menu {
  display: flex;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.menu__item {
  margin-right: 50px;
}

.contacts {
  // display: flex;
  // margin-left: auto;

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    // margin-right: auto;
  }
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-text-color);
}
.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-text-color);
}
