.footer-form {
  display: flex;
  align-items: flex-end;
}
.footer-form__section {
  flex-direction: column;
  display: flex;

  margin-right: 12px;
}
.footer-form__input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  color: var(--third-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}
