.logo {
  display: flex;
  margin-right: 94px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-right: 88px;
    font-size: 24px;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0px;
    font-size: 24px;
  }
}
.logo__dark {
  color: var(--first-text-color);
}
.logo__light {
  color: var(--third-text-color);
}
