.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}

.social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
  width: 100%;
  height: 100%;
  background-color: var(--third-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
  &:hover .social-icon,
  &:focus .social-icon {
    fill: var(--third-text-color);
  }
}
